@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pihztn');
  src:  url('fonts/icomoon.eot?pihztn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pihztn') format('truetype'),
    url('fonts/icomoon.woff?pihztn') format('woff'),
    url('fonts/icomoon.svg?pihztn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e903";
  color: #0077b5;
}
.icon-researchgate:before {
  content: "\e900";
  color: #0cb;
}
.icon-orcid:before {
  content: "\e901";
  color: #a6ce39;
}
.icon-twitter:before {
  content: "\e902";
  color: #1da1f2;
}
